body {
    background: #EB7CAC;
    font-family: Arial;
}
h1 {
    color: #442BC2;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #FFCEFC;
    border-radius: 20px; 
}
.assign img {
    width: 200px;
    padding: 10px;
    border: 2px dashed midnightblue; 
}
a {
    text-decoration: none; 
    color: #31678C; 
}
a:hover {
 text-decoration: none; 
 color: #5F2BE3; 
}

